.cellTableWidget {
}

.cellTableFooter {
}

.cellTableHeader {
    border-top: 1px solid #E3EDF6;
    border-bottom: 1px solid #E3EDF6;
    border-right: 1px solid #D7D7E1;
    padding: 0 0 0 2px;
    margin-right: 3px;
    text-align: left;
    color: #111111;
    font-family: Arial,sans-serif;
    font-size: 11px;
    background-color: #F0F2FF;
    height: 28px;
    line-height: 28px;
    white-space: nowrap;
}

.cellTableCell {
    padding: 0 8px 0 2px;
    height: 26px !important;
    border-top: 0;
    border-bottom: 1px solid #EDEEF0;
    border-right: 0;
    border-left: 0;
    white-space: nowrap;
    cursor: pointer;
}

.cellTableEvenRow {
    background-color: #ffffff;
}

.cellTableOddRow {
    background-color: #f3f7fb;
}

.cellTableHoveredRow {
    background-color: #eee;
}

.cellTableSelectedRow {
    background-color: #C3D0E0;
    color: white;
    overflow: auto;
}

.cellTableSelectedRow select {
    color: #333333;
}

@sprite .cellTableLoading {
    gwt-image: 'cellTableLoading';
    margin: 3px;
}

.cellTableFirstColumn {
    padding-left: 3px;
}

.cellTableLastColumn {
}

.cellTableFirstColumnHeader {
    padding-left: 4px;
}
